<main ng-controller="adminAccountController">
    <div class="alert alert-danger" role="alert" ng-show="error">
        {{errorMessage}}
    </div>

    <div class="alert alert-success" role="alert" ng-show="successMessage.length > 0">
        {{successMessage}}
    </div>

    <div class="alert alert-info" style="width:400px;margin-left:100px;" ng-show="users.length == 0">
        User list is empty yet
    </div>

    <a class="go-to-user-account-link" href="#/user-account">Go to user account</a>

    <div class="meals-list">

        <div class="table-buttons">
            <button type="submit" class="pure-button" ng-show="!isFullTable" ng-click="showFullTable()">Show full table</button>
            <button type="submit" class="pure-button" ng-show="isFullTable"  ng-click="hideFullTable()">Hide full table</button>
            <button type="submit" class="pure-button" ng-click="letsRock()" ng-show="isLetsRockAllowed">Let's rock!</button>
        </div>

        <table class="pure-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Login</th>
                <th>Desire</th>
                <th ng-show = "isFullTable">Target</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>

            <tr ng-repeat="user in users" tt-editable-row rowValue="user"
                ng-class="{'pure-table-odd': $index % 2 == 1, 'pure-table-even': $index % 2 == 0}">
                <td> {{user.name}} </td>
                <td> {{user.login}} </td>
                <td> {{user.desire}}</td>
                <td ng-show = "isFullTable"> {{user.target}}</td>
                <td>
                    <button type="submit" class="pure-button" ng-click="deleteUser(user.login)">Annihilate</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>