<user-account.html class="alert alert-danger" role="alert" ng-show="error">
    {{errorMessage}}
</user-account.html>

<table class="userAccount noBorder margin">
    <tr>
        <td class="halfWidth noBorder padding" colspan="2">
            <img src="/../img/santa_o_O.jpg"
                 class="centralPicture"
                 ng-show="!targetIsAppointed">
            <img src="/../img/father_frost.jpg"
                 class="centralPicture"
                 ng-show="targetIsAppointed">
        </td>
    </tr>
</table>

<table class="userAccount noBorder margin" ng-show="targetIsAppointed">
    <tr>
        <td class="text-from-santa">
            <div class="intro">
                Зайдя в дом Санты, ты находишь письмо, на котором написано твое имя
            </div>
        </td>
    </tr>
</table>


<table class="userAccount noBorder margin">
    <tr>
        <td colspan="2" class="text-from-santa">
            <div class="intro" ng-show="!targetIsAppointed">
                Санта всех нас хорошо знает, но в последнее время у него стало плохо с памятью:
                теряет очки, путает эльфов с гномами, так что давай напомним ему кое-что о тебе.
                Запиши сюда то, что тебе интересно, что заставляет твое лицо улыбаться, а душу -
                становиться теплее. Только давай по-честному, и тогда я передам твое письмо Санте!
                Не стесняйся, никто кроме него о твоих мечтах не узнает, даю тебе свое гномское
                слово! Совсем скоро наступит волшебный Новый Год, и кто знает, вдруг какая-то из
                твоих грез осуществится? Ах да, можешь не торопиться и возвращаться к своему письму,
                когда захочешь. Но помни, что изменять его можно только до 20 декабря 2017 года!
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="letterIntro">
            <div ng-show="!targetIsAppointed">
                Дорогой Санта, меня зовут {{user.name}} и я хочу, чтобы ты знал кое-что обо мне.
            </div>
            <div ng-show="targetIsAppointed">
                Кому:
                {{user.name}}
            </div>
        </td>
    </tr>

    <tr>
        <td colspan="2" class="letterIntro" ng-show="targetIsAppointed">
            <div>
                Вот и пришла пора суетиться!
                В этом году ты поздравляешь своего
                хорошего друга, а имя ему <u>{{targetName}}</u>.
                Вперед, да пребудет с тобой Оливье!
                <br/><br/>Что, сложновато? Тогда смотри, что он пожелал сообщить о себе:
            </div>
        </td>
        <td colspan="2" class="noBorder" ng-show="!targetIsAppointed">
            <!-- empty cell -->
        </td>
    </tr>

    <tr class="topAlign">
        <td colspan="2" class="fullWidth noBorder padding">
            <textarea class="dataWindow fixedSize"
                   type="text"
                   ng-model="user.desire"
                   ng-show="!targetIsAppointed"></textarea>
            <textarea readonly class="dataWindow border fixedSize" ng-show="targetIsAppointed">
                {{targetDesire}}
            </textarea>
        </td>

    </tr>
</table>

<table class="userButtons noBorder margin">
    <tr class="margin" ng-show="!targetIsAppointed">
        <td class="back-to-user-account-button-left marginLeft">
            <button class="pure-button pure-input-1 pure-button-primary centeredText buttonEqualWidth"
                    ng-click="updateUser(user)">Отправить
            </button>
        </td>
        <td class="back-to-user-account-button-right marginRight">
            <button class="pure-button pure-input-1 pure-button-primary centeredText buttonEqualWidth"
                    ng-click="logout()">Выйти
            </button>
        </td>
    </tr>
    <tr class="margin" ng-show="targetIsAppointed">
        <td class="back-to-user-account-button">
            <button class="pure-button pure-input-1 pure-button-primary centeredText"
                    ng-click="logout()">Выйти
            </button>
        </td>
    </tr>
</table>

<table class="userButtons noBorder marginBottom">
</table>

