<user-account.html class="alert alert-danger" role="alert" ng-show="error">
    {{errorMessage}}
</user-account.html>

<div class="userAccount padding">
    User: <u>{{user.name}}</u>
    <a class="rightAligned"
       href="#/login"
       title="log out"
       ng-click="logout()">
    <img class="exitButton" src="/../img/exit.jpeg">
    </a>
</div>

<table class="userAccount noBorder margin">
    <tr>
        <td class="halfWidth noBorder padding">
            <div ng-show="!targetIsAppointed">
                Letter to Santa:
            </div>
            <div ng-show="targetIsAppointed">
                Need to make present to <u>{{targetName}}</u>.
                <br/><u>{{targetName}}</u> asks Santa about:
            </div>
        </td>
        <td class="halfWidth noBorder">
            <!-- empty cell -->
        </td>
    </tr>

    <tr class="topAlign">
        <td class="halfWidth noBorder padding">
            <textarea class="dataWindow"
                   type="text"
                   ng-model="user.desire"
                   ng-show="!targetIsAppointed"></textarea>
            <div class="dataWindow border" ng-show="targetIsAppointed">
                {{targetDesire}}
            </div>
        </td>
        <td class="halfWidth noBorder padding">
            <img src="/../img/santa_o_O.jpg"
                 class="centralPicture"
                 ng-show="!targetIsAppointed">
            <img src="/../img/santa_with_elvens.jpg"
                 class="centralPicture"
                 ng-show="targetIsAppointed">
        </td>
    </tr>
</table>
<div class="userAccount padding">
    <button class="elementMarginTop simpleButton btn btn-primary"
            ng-show="!targetIsAppointed"
            ng-click="updateUser(user)">Send letter to Santa</button>
    <div class="successMarker centeredText"
        ng-show="letterIsSent">
        Success
    </div>
</div>
