<div class="alert alert-danger" role="alert" ng-show="error">
    {{errorMessage}}
</div>

<h3 class="userAccount centeredText">Santa secret</h3>

<div class="userAccount">{{user.name}}</div>

<table class="userAccount noBorder">
    <tr>
        <td class="halfWidth noBorder">
            Letter to Santa:
        </td>
        <td class="halfWidth noBorder" ng-show="targetIsAppointed">
            Need to make present to {{targetName}}.
            <br/>{{targetName}} asks Santa about:
        </td>
    </tr>

    <tr class="topAlign">
        <td class="halfWidth noBorder padding">
            <input class="fullWidth"
                   style="height:500px;"
                   type="text"
                   ng-model="user.desire"/>
        </td>
        <td class="halfWidth noBorder padding">
            <input class="fullWidth"
                    style="height:500px;"
                    type="text"
                    ng-model="targetDesire"
                    ng-show="targetIsAppointed"/>
        </td>
    </tr>
</table>
<div class="userAccount">
    <button class="elementMarginTop simpleButton btn btn-primary"
            ng-disabled="targetIsAppointed"
            ng-click="updateUser(user)">Send letter to Santa</button>
    <button class="successButton"
            ng-show="letterIsSent">Success</button>
</div>
