/* composite styles ******************************************************************************/
/* width + centered + font-size */
.userAccount {
    max-width: 720px;
    margin: auto;
    font-size: 120%;
}

.userButtons {
    max-width: 720px;
    margin: auto;
}

/* button */
.simpleButton {
    text-align: center;
}

.dataWindow {
    width: 100%;
    height: 200px;
    text-align: top;
    font: italic 100%/1 arial, sans-serif;
}

img.centralPicture {
    width: 100%;
    height: auto;
}

img.exitButton {
    width: 30px;
    height: 45px;
}

img.settingsButton {
    width: 30px;
    height: 30px;
}

.successMarker {
    width: 75px;
    margin-top: 10px;
    color: #fff;
    background-color: #449d44;
    border-color: #419641;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

/* simple styles *********************************************************************************/
/* width */
.fullWidth {
    width: 100%;
}
.halfWidth {
    width: 50%;
}
td.sideSantaContainer {
    width: 250px
}
.td

/* horizontal position */
.centered-text {
    text-align: center;
    margin-bottom: 20px;
}
.centered {
    margin: auto;
}
.rightAligned {
    float:right;
    clear:right;
}

.leftAlignedAligned {
    float:left;
    clear:left;
}

/* vertical position */
tr.topAlign {
    vertical-align: top;
}
td.centeredVertical {
    vertical-align: center;
}
.contentGravityTop {
    display: flex;
}
.elementMarginTop {
    margin-top: 7px;
}

/* padding */
.padding {
    padding: 7px;
}

/* margin */
.margin {
    margin-top: 10px;
}

.marginLeft {
    margin-left: 10px;
}

.marginRight {
    margin-right: 10px;
}

.marginBottom {
    margin-bottom: 70px;
}

/* borders */
.border {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.noBorder {
    border-width: 0px;
}

.letterIntro {
    position: relative;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin-bottom: 0px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: italic 100%/1 arial, sans-serif;
    font-size: 100%;
    color: #333;
    text-align: justify;
}

.fixedSize {
    resize: none;
}

.text-from-santa {
    position: relative;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin-bottom: 0px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 100%;
    color: #333;
    text-align: justify;
}

.buttonEqualWidth {
    width: 125px;
    display: inline-block;
    *display: inline; /*IE 6/7*/
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.introLog {
    position: relative;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 120%;
    color: #333;
    text-align: justify;
}