/* composite styles ******************************************************************************/
/* width + centered + font-size */
.userAccount {
    max-width: 720px;
    margin: auto;
    font-size: 130%;
}

/* button */
.simpleButton {
    width: 75px;
}

.dataWindow {
    width: 100%;
    height: 200px;
    text-align:top;
}

img.centralPicture {
    width: 100%;
    height: auto;
}

img.exitButton {
    width: 30px;
    height: 45px;
}

img.settingsButton {
    width: 30px;
    height: 30px;
}

.successMarker {
    width: 75px;
    margin-top: 10px;
    color: #fff;
    background-color: #449d44;
    border-color: #419641;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

/* simple styles *********************************************************************************/
/* width */
.fullWidth {
    width: 100%;
}
.halfWidth {
    width: 50%;
}
td.sideSantaContainer {
    width: 250px
}
.td

/* horizontal position */
.centeredText {
    text-align: center;
}
.centered {
    margin: auto;
}
.rightAligned {
    float:right;
    clear:right;
}

/* vertical position */
tr.topAlign {
    vertical-align: top;
}
td.centeredVertical {
    vertical-align: center;
}
.contentGravityTop {
    display: flex;
}
.elementMarginTop {
    margin-top: 7px;
}

/* padding */
.padding {
    padding: 7px;
}

/* margin */
.margin {
    margin-top: 40px;
}

/* borders */
.border {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.noBorder {
    border-width: 0px;
}

.fixedSize {
    resize: none;
}
