<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Знакомство с Сантой</title>
    <link rel="stylesheet" href="/../css/pure-theme.css">
    <link rel="stylesheet" href="/../css/secret-santa.css">
</head>
<body class="pure-skin-theme" id="createUserApp">

    <main ng-controller="newUserController">

        <div class="alert alert-danger" role="alert" ng-show="error">
            {{errorMessage}}
        </div>
        <table class="userAccount noBorder margin">
            <tr>
                <td colspan="2" class="text-from-santa">
                    <div class="introCentered">
                        Ну что, садись поудобнее, бери перо и поведай Санте кто ты. Только помни, что Санта хорошо различает прописные и строчные буквы
                    </div>
                </td>
            </tr>
        </table>

        <div class="login-container margin">

            <form name="form" ng-submit="onCreateUser()" class="pure-form login-form margin" novalidate>
                <fieldset class="pure-group">
                    <div class="form-field">
                        <input type="text" ng-model="login"
                               name="login" class="pure-input-1" placeholder="Никнейм">
                    </div>

                    <div class="form-field">
                        <input type="text" ng-model="casualName"
                               name="casualName" class="pure-input-1" placeholder="А по паспорту?">
                    </div>

                    <div class="form-field">
                        <input type="password" ng-model="password" name="password" class="pure-input-1" placeholder="Секретное слово">
                    </div>

                    <div class="last-form-field">
                        <input type="password" ng-model="confirmPassword" name="confirmPassword" class="pure-input-1"
                               placeholder="Ещё раз секретное слово">
                    </div>
                </fieldset>

                <button type="submit" class="pure-button pure-input-1 pure-button-primary">Запомни меня</button>
                <a class="new-user-link" href="#/login">Санта должен меня вспомнить</a>

            </form>

        </div>
    </main>
    <script src="/../js/controllers/newUserController.js"></script>
</body>
</html>